@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  transition: background 0.2s, border 0.2s;
}

li {
  transition: color 0.15s;
}

/* NProgress */
#nprogress {
  pointer-events: none;
}

#nprogress .bar {
  background: #a445ed;

  position: fixed;
  z-index: 1031;
  top: 0;
  left: 0;

  width: 100%;
  height: 2px;
}

/* Fancy blur effect */
#nprogress .peg {
  display: block;
  position: absolute;
  right: 0px;
  width: 100px;
  height: 100%;
  box-shadow: 0 0 10px #a445ed, 0 0 5px #a445ed;
  opacity: 1;

  -webkit-transform: rotate(3deg) translate(0px, -4px);
  -ms-transform: rotate(3deg) translate(0px, -4px);
  transform: rotate(3deg) translate(0px, -4px);
}

/* React Transition Group */
.select-box-body-enter {
  opacity: 0;
  transform: scale(0.9);
}

.select-box-body-enter-active {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 200ms, transform 200ms;
}

.select-box-body-exit {
  opacity: 1;
}

.select-box-body-exit-active {
  opacity: 0;
  transform: scale(0.9);
  transition: opacity 200ms, transform 200ms;
}
